* {
    margin: 0;
    padding: 0;
}

:root {
    --organge: #FF5D251F;
    --text: #5F5F5F;
    --submit: #FF5D25;
}

.mainpage {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: inter;
}

/* left side */

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 50vw;
    background: var(--organge);
}

.imagesize {
    width: 537px;
    height: 481px;
}

/* right side */

.right-side {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 160.2px;
}

.logoimage {
    width: 125px;
    height: 89.2px;
    padding: 3px;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 534px;
    height: 500px;
    /* margin: 3px;*/
} 

.formlable {
    width: 61px;
    height: 19x;
    /* padding-bottom: 15px; */
    font-weight: 500;
    font-size: 16px;
}

.forminput {
    width: 534px;
    height: 50px;
    border: 1px solid #D9D9D9;
    color: var(--text);
    padding-left: 1rem;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-top:60px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size:16px;
    padding-left: 120px;
}

.remember{
    margin-top: 10px;
    color: #030229;
    opacity: 74%;
}

.button {
    width: 555px;
    height: 60px;
    top: 785.2px;
    left: 834px;
    background-color: var(--submit);
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 50px;
}

.dark{
    padding-bottom: 1rem;
}

.dark1{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1 {
    font-size: 26px;
    padding: 10px;
}

h2 {
    font-size: 24px;
}

p{
    font-size: 16px;
    color:#777777;
}
.a1 {
    text-decoration: none;
    color: #FFFFFF;
}
.checkbox {
    height: 15px;
    width:15px;
}